.root {
    -fx-base: #111111;
    -fx-faint-focus-color: #111111;
}

.MenuBar{
    -fx-font-size: 15;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: #ffffff;
    -fx-background-color: #111111;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: darkgray;
}


#mainArea{
    -fx-font-size: 15;
    -fx-font-family: "Lucida Console";
    -fx-control-inner-background: #111111;
}

.button{
    -fx-font-size: 15;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: #ffffff;
    -fx-background-color: #111111;
}

#msgField{
    -fx-font-size: 15;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: #ffffff;
    -fx-background-color: #111111;
}

#VBox{
    -fx-background-color: #111111;
    -fx-border-color: #111111;
    -fx-background-insets: 0;

}